
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Shop our Cheeses " + ViewData["Category"] + " Cheeses";
}

<h1>All of these are really good...</h1>
<ul>
     
       @foreach (var product in Model)
         {
            <li>@product.Name</li>
         } 
     
</ul>
