@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cheese and Thank You</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">The finest cheese you can find anywhere.</a>.</p>
</div>
